*Zone.Identifier
logs_metrics_benchmark_tensorboard
env_logs
logs
wandb
benchmark_results
sb3_runs_nonconstrained
*/evaluation/evaluation/
*/evaluation/evaluations/
ppo_moo.db
*.zip
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.eggs/
*.egg-info/