*Zone.Identifier
logs_metrics_benchmark_tensorboard
env_logs
logs
wandb
benchmark_results
*.zip
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.eggs/
*.egg-info/