<?xml version="1.0" ?>
<robot name="launch_pad">
  <link name="base_link">
    <visual>
      <geometry>
        <box size="2 2 0.5" />  <!-- 2x2 meters, 0.1 meters thick -->
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="2 2 0.1" />
      </geometry>
    </collision>
  </link>
</robot>
